@model BankDashboardViewModel

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Branches</h5>
                <p class="card-text">@Model.TotalBranches</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Employees</h5>
                <p class="card-text">@Model.TotalEmployees</p>
            </div>
        </div>
    </div>
    <!-- Continue with other cards as needed -->
</div>

<!-- Iterate over BranchList -->
<div class="row">
    @foreach (var branch in Model.BranchList)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@branch.BranchManager</h5>
                    <p class="card-text">@branch.LocationName</p>
                    <p class="card-text">@branch.LocationURL</p>
                    <p class="card-text">@branch.Employees</p>
                </div>
            </div>
        </div>
    }
</div>


